.grid-data {
    margin-top: 70px;
    margin-left: 240px;
}

.onClick-btn {
    text-align: center;
}

.css-1vopitr {
    margin: 10px 80px !important;
}

.info-txt {
    text-align: center;
    line-height: 30px;
    font-size: smaller;
    font-style: italic;
}